.main {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  padding-top: 5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  padding: 30px;
}

.card {
  width: 15rem;
  height: 300px;
  border: 1px solid #dfddd9;
  box-shadow: 4px 4px 4px #efeeed;
  border-radius: 40px;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  margin: 25px 28px;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  border: 2px solid #125667;
  border-radius: 30px;
  padding: 15px;
  color: rgb(90, 158, 221);
  text-decoration: none;
}

.link:hover {
  background: #125667;
  color: aliceblue;
}
